#ignore netbeans files
nbactions.xml
nb-configuration.xml
#ignore Intellij Idea IDE folder
target
*/target
*/*/target
*.iml
*.jar
*.war
*.ear
*.ec
*.ipr
*.iws
*.swp
*~
*.log
log
.idea/
*/.idea
*/target/
*.iml
*.ec
*.ipr
*.iws
*.swp
*~
*.log
*.log.*
*.sqlite
git.properties
jbehave.log
jbehave.log.*
*.project
*/.settings
*/*/.settings
*/*/.classpath

# Python stuff #
################
*.pyc
*.egg-info
bin
dist
build
develop-eggs
eggs
parts
.installed.cfg
logs
*.MainThread-*
*.pid
*.pid.lock
test/.coverage
test/coverage.xml
test/nosetests.xml


log

# Ruby stuff #
################
Gemfile.lock


# Mac OS stuff #
################
.DS_Store

data/
